@charset "UTF-8";

*{
	font-size:0.98em;
	color:#666;
}

div {
/* border: 1px solid gray;  */
}
#header{
	margin-bottom: 48px;
	
}

#header_inner{
	max-width:743px;
	height:138px;
	margin:0 auto;
	text-align:center;
	position: relative;
	
}


#logo{
	width:155px;
	height:30px;
	margin-top:108px;
	
}

#sel{
	
	position:absolute;
	top: 10px;
	right:10px;
	font-size:14px;
	padding: 7px 30px;
}

select{
	min-width:90px;
	height:30px;
	border:0.5px solid #ccc;
	padding: 4px 6px;
	
}
#content{
	width:458px;
	height:529px;
	margin:0 auto;
	text-align:center;
}


#login_tab{
	list-style-type:none;
	padding: 0;
	margin:0;
	width:100%;
}


#login_tab > li{
	
	float:left;
	/* margin: 10px 15px; */
	margin:0;
/* 	padding:25xp;  */
	width:33.19%; 
	border-bottom: 1px solid #808080;
	padding: 25px 0;
	font-size:18px;
	
	
}

#login_inner > form > input:nth-child(2){
	margin-bottom:16px;
}

#banner{
	clear:both;
}


#login_tab  li:nth-child(1){
	
	border: 1px solid #808080;
	border-bottom: none;
}


#login_inner{
	padding: 20px 28px;
	clear:both;
	border: 1px solid #808080;
	border-top:none;
	
}


.input{
	width: 100%;
	height:48px;
	border-radius: 7px;
	border: 1px solid gray ;
/* 	margin-bottom: 10px; */
	
}

#login_inner input:nth-child(1){
	border-bottom: none;
	
	}
	
#btn_login{
	clear:both;
}

button{
	width:100%;
	height:52px;
	background-color: #03c75a;
	border:none;	
	border-radius: 10px;
	margin-top:30px;
	color:white;
	font-size:20px;
	font-weight:bold;
}



#login_inner_menu{
	padding: 20px 0 35px;
}

#login_inner_menu >a {
	padding: 0 10px;
	
}
a:link{
	text-decoration: none;
}

a:visited{
	text-decoration: none;
}

a:hover{
	text-decoration: none;
}

/* a:active{
	
} */

#banner img{
	width:460px;
	height:147px;
	
}

#footer{
	/* margin: 30px auto; */
	text-align:center;
	padding: 63px 0 32px;
}


#cs{
	padding: 0;
    list-style-type: none;
	margin:10px 0;
	position: relative;
}


#cs li{
	font-size:12px;
 	display: inline;
 	margin:4px;
		
	
}



#footer_2{
	clear:both;
	padding:0 7px;
}

#footer_2 img{
	width:70px;
	
}



#find{
	padding: 0;
    list-style-type: none;
	margin:10px 0;
	position: relative;
}


#find li{
 	display: inline;
 	margin:4px;
		
	
}